{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
    rebar3_format,
    erlfmt,
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

{format, [
    {files, ["src/**/*.erl", "include/**/*.hrl", "includes/**/*.hrl"]},
    {ignore, ["src/**/*_ignore.erl", "src/ignored_file_config.erl"]},
    {formatter, erlfmt_formatter}, %% The erlfmt formatter interface.
    {options, #{print_width => 100, ignore_pragma => true}} %% ...or no options at all.
]}.

{ex_doc, [
    {source_url, "https://github.com/deadshot465/owoify_erl"}
]}.

{hex, [{doc, ex_doc}]}.